
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Applications", registered_applications_path %></li>
  <li class="active"><%=@registered_application.name%></li>
</ol>



<h1><%= @registered_application.name %></h1>
<h3><%= @registered_application.url %></h3>


<h3><%= @events%></h3>



<div class="row">
  <div class="col-md-4">
    <div class="form-group">
    <p><%= link_to "Edit", edit_registered_application_path(@registered_application), class: 'btn btn-success' %><p>
    </div>
  </div>
</div>
